.product-component {
    box-sizing: border-box;
    box-shadow: lightgray 4px 4px 20px;    
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;

    h2{
        margin-bottom: 0;
    }

    img{
        width: 100%;
    }

    p{
        font-size: 16px;
    }

}